/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 62.5%;
  margin: 0 auto;
  height: 100%;
}

.col {
  height: 480px;
}

.big-col {
  width: 65%;
}

.small-col {
  width: 35%;
  padding: 130px 30px 0;
}

.small-col h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.big-content {
  text-align: center;
}

.big-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.big-content p {
  padding: 0 14%;
}

.bg-grey {
  background-color: #d2d2d2;
}

header {
  background-color: #3161e0;
  align-items: center;
  flex-direction: column;
}

main section {
  height: 600px;
}

footer {
  background-color: #23272a;
}

main section.king {
  height: 900px;
}

nav.header-top {
  height: 45px;
  margin: 1rem;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

nav.header-top {
  height: 100%;
}

nav ul.main-menu {
  list-style-type: none;
}

nav ul.main-menu li {
  display: inline;
  padding: 0 20px;
  color: #fff;
}

div.big-content {
  height: 600px;
  width: 100%;
}

footer {
  padding: 2rem;
  margin-top: 4rem;
}

footer section.footer-top {
  height: 180px;
}

footer section.footer-top aside {
  width: 30%;
  height: 100%;
}

footer section.footer-top nav {
  width: 70%;
  height: 100%;
}

footer .footer-top nav ul {
  width: 25%;
  height: 100%;
  list-style-type: none;
}

footer hr {
  margin: 2rem 0;
}

footer section.footer-bottom {
  height: 100px;
  justify-content: space-between;
}

div#jumbotron {
  background: url(../img/jumbo.png) no-repeat no-repeat;
  background-size: 100%;
  height: 450px;
  width: 100%;
}

div#jumbotron .jumbo-content {
  width: 45%;
  height: 350px;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Maven Pro", sans-serif;
}

p,
li {
  font-family: "Kanit", sans-serif;
}

h1.welcome__heading {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
.welcome__heading,
.welcome__description {
  padding-bottom: 1.5rem;
  color: #fff;
}
.welcome__description {
  line-height: 1.5rem;
  font-family: "Kanit", sans-serif;
}

/* BUTTONS */
button {
  padding: 10px 20px;
  border-radius: 40px;
  border: 0;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
}

.hero__login__button {
  background-color: #fff;
}

.white__download__button {
  color: #000;
}

.black__browser__button {
  color: #fff;
  background-color: #000;
  margin-left: 20px;
}
.violet__button {
  background-color: #8fa1e1;
  color: #fff;
}

/* DOWNLOAD SECTION */
.download__section {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.download__section img {
  width: 50%;
}
.download__section h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

aside h3 {
  font-size: 1.7rem;
  color: #90a2e1;
  margin-bottom: 10px;
}

aside img {
  height: 20px;
}

.language__selector {
  color: #fff;
  font-size: 1rem;
  margin-left: 10px;
  font-family: "Kanit", sans-serif;
}

.footer__menu h4 {
  color: #90a2e1;
}

.footer__menu li {
  color: #fff;
  font-size: 0.9rem;
  line-height: 2em;
}

.fa-brands {
  color: #fff;
  padding: 10px;
}
